@{
    ViewData["Title"] = "Add Hall Page";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("AddHall", "Admin", FormMethod.Post))
{
    @Html.TextBox("maxCapacity")
    
    @Html.TextBox("nr")

    <button type="submit">Subscribe</button>
}
