@model KinoProject.Models.User
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link href="~/css/logStyle.css" rel="stylesheet" type="text/css" />
    </head>

<div class="login-page">
    <div class="form" >
        <form class="login-form" method="POST">
            <input type="text" name="name" id="name" placeholder="username" />
            <input type="password" name="pass" id="pass" placeholder="password" />
            <button>login</button>
            <p class="message">Not registered? <a href="@Url.Action("Register","Home")">Create an account</a></p>
        </form>
    </div>
</div>